<div class="login" fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-sm="column">
            <img src="../../../assets/icons/icon-128x128.png" alt="logo">
        </div>
        <br/><br/>
        <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">
            <mat-form-field fxFlex="100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ex. pat@example.com" required name="email">
                <mat-error>Email is required</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Ex. pass123" required name="password">
                <mat-icon matSuffix class="password"></mat-icon>
                <mat-error>Password is required</mat-error>
            </mat-form-field>
        </div>
        <mat-error>
        </mat-error>
        <br/>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="12px">
            <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit" name="btn-login">
                <ng-container *ngIf="!isLoading; else loadingContent"> Sign In </ng-container>
                <ng-template #loadingContent>
                  <app-mat-progress-spinner></app-mat-progress-spinner>
                </ng-template>
              </button>
        </div>
    </form>
</div>